.catalog-item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px 24px;
	border-bottom: 1px solid #ededed;

	&:first-of-type {
		border-top: 1px solid #ededed;
	}

	&--add {
		position: relative;
		padding-top: 57px;

		&::before {
			content: "";
			position: absolute;
			top: 26px;
			left: 50%;
			width: 30px;
			height: 30px;
			background-image: url("../img/icon-plus-mobile.svg");
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.2;
			transform: translateX(-50%) translateZ(0);
			will-change: transform;
		}

		form {
			display: flex;
			flex-grow: 1;
		}

		.catalog-item__wrapper {
			flex-grow: 1;
		}

		.catalog-item__inner {
			width: 100%;
			padding-bottom: 0;
		}

		.catalog-item__title {
			width: 100%;
			margin-bottom: 8px;
			padding: 0 20px;
			text-align: center;
		}

		.catalog-item__descr {
			margin: 0;
			margin-bottom: 21px;
			padding: 0 20px;
			font-family: "Arial", sans-serif;
			font-size: 12px;
			line-height: 16px;
			color: $color-gray;
			text-align: center;
		}
	}
}

.catalog-item__inner {
	width: 50%;
	padding-top: 22px;
	padding-bottom: 20px;
}

.catalog-item__pic-wrapper {
	display: flex;
	justify-content: center;
    align-items: center;
    order: -1;
    width: 50%;
    outline: none;
}

.catalog-item__pic {
	display: block;
}

.catalog-item__title {
	width: 57%;
	margin: 0;
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: $color-dark-gray;
	text-transform: uppercase;

	a {
		color: $color-dark-gray;
		text-decoration: none;
		outline: none;
	}
} 

.catalog-item__info {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	td {
		padding: 0;
		font-family: "Arial", sans-serif;
		font-size: 12px;
		line-height: 16px;
		color: $color-gray;

		&:last-child {
			text-align: right;
		}
	}
}

.catalog-item__btn {
	display: block;
	padding-top: 10px;
	padding-bottom: 8px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
}

@media (min-width: $tablet-width) {
	.catalog-item {
		display: flex;
		flex-direction: column;
		padding: 0px 37px 40px 38px;
		border-bottom: none;
		background-image: linear-gradient(to bottom, transparent 134px, #f2f2f2 134px);
		
		&:first-of-type {
			border-top: none;
		}

		&--add {
			padding: 0;
			padding-top: 134px;
			background-color: transparent;
			background-image: none;

			&::before {
				display: none;
			}
			
			.catalog-item__wrapper {
				position: relative;
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				padding: 163px 37px 40px 38px;
				border: 1px solid #f2f2f2;

				&::before {
					content: "";
					position: absolute;
					top: 55px;
					left: 50%;
					width: 60px;
					height: 60px;
					background-image: url("../img/icon-plus-mobile.svg");
					background-repeat: no-repeat;
					background-position: center;
					opacity: 0.2;
					transform: translateX(-50%) translateZ(0);
					will-change: transform;
				}
			}

			.catalog-item__title {
				width: 135px;
				margin-bottom: 25px;
				padding: 0;
			}

			.catalog-item__descr {
				width: 170px;
				margin: 0 auto;
				padding: 0;
				font-size: 16px;
				line-height: 19px;
			}

			.catalog-item__pic {
				width: 60px;
				height: 60px;
			}
		}
	}

	.catalog-item__inner {
		flex-grow: 1;
		width: 100%;
		padding: 0;
	}

	.catalog-item__pic-wrapper {
		display: flex;
		order: -1;
		justify-content: center;
		align-items: flex-end;
		width: auto;
		min-height: 260px;
		margin: 0 -37px 37px -38px;
	}

	.catalog-item__title {
		width: 135px;
		margin: 0 auto;
		margin-bottom: 19px;
		text-align: center;
		font-size: 20px;
		line-height: 20px;
	}

	.catalog-item__info {
		margin-bottom: 33px;

		tr {
			border-bottom: 1px solid #cdcdcd;
		}

		td {
			padding-top: 8px;
			padding-bottom: 7px;
			font-size: 16px;
			line-height: 16px;
		}
	}

	.catalog-item__btn {
		margin-top: auto;
	}
}

@media (min-width: $desktop-width) {
	.catalog-item {
		padding-right: 39px;

		&--add {
			padding-right: 0;
		}
	}
}