.example {
	background-color: #f2f2f2;
	overflow: hidden;
}

.example__inner {
	margin-bottom: 32px;
	padding-top: 27px;
	padding-right: 20px;
	padding-left: 20px;
}

.example__title {
	margin: 0;
	margin-bottom: 33px;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: $color-dark-gray;
}

.example__descr {
	margin: 0;
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 18px;
	font-family: "Arial", sans-serif;
	color: $color-gray;
}

.example__results-list {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;

	tbody {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
}

.example__result {
	&--cell {
		position: relative;

		display: flex;
		width: 44.28%;
		margin-bottom: 33px;
		padding: 12px 15px 16px;
		border: 1px solid #cdcdcd;

		border-radius: 3px;

		.example__result-name {
			position: absolute;
			left: 50%;
			bottom: -17px;

			width: 88px;
			padding-right: 15px;
			padding-left: 15px;

			font-family: "Arial", sans-serif;
			font-size: 12px;
			line-height: 12px;
			color: $color-gray;
			text-align: center;
			text-transform: lowercase;

			background-color: #f2f2f2;
			transform: translate3d(-50%, 0, 0);
			will-change: transform;
		}

		.example__result-amount {
		  display: flex;
		  justify-content: center;
		  width: 100%;
		  font-size: 24px;
		  line-height: 24px;
		  color: $color-dark-gray;
		  text-align: center;
		  text-transform: uppercase;
	}
  }

	&--cost {
		display: flex;
		width: 190px;
		margin: 0 auto;

		.example__result-name,
		.example__result-amount {
		  display: block;

		  font-size: 14px;
		  line-height: 20px;
		  color: $color-dark-gray;
		  text-transform: uppercase;
		}
    }
}

.example__slider {
	padding-bottom: 32px;
}

@media (min-width: $tablet-width) {
	.example {
		margin-bottom: 0;

		background-color: transparent;
	}

	.example__wrapper {
		padding-right: 30px;
		padding-left: 30px;
	}

	.example__inner {
		padding: 0;
		margin-bottom: 85px;
	}

	.example__title {
		margin-bottom: 64px;
		font-size: 60px;
		line-height: 60px;
	}

	.example__descr {
		margin-bottom: 54px;
		font-size: 16px;
		line-height: 24px;
	}

  .example__results-list {
	tbody {
		  justify-content: flex-start;
		  align-items: flex-start;
		}
    }

    .example__result {
		&--cell {
			width: 22.88%;
			margin: 0;
			margin-right: 42px;
			padding-top: 13px;
			padding-bottom: 18px;

			&:last-of-type {
			margin-right: 0;
		}

			.example__result-name {
				bottom: -7px;
				width: auto;
				padding-right: 8px;
				padding-left: 8px;
				font-size: 14px;
				line-height: 14px;
				white-space: nowrap;
				background-color: #ffffff;
			}

			.example__result-amount {
				font-size: 30px;
				line-height: 37px;
		    }
        }
  
		&--cost {
			margin: 0;
			margin-top: 10px;
			margin-left: auto;
			flex-direction: column;

			.example__result-name,
			.example__result-amount {
				font-size: 20px;
				text-align: right;
			}

			.example__result-name {
				margin-left: 0;
				margin-bottom: 7px;
			}

			.example__result-amount {
				margin-left: auto;
				margin-right: 0;
		    }
        }
    }

	.example__slider {
		margin-right: -30px;
		margin-left: -30px;
	}
}

@media (min-width: $desktop-width) {
	.example {
		background-image: linear-gradient(to bottom, #ffffff 190px, transparent 190px), linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
		background-repeat: no-repeat;
		background-position: bottom, top;
		background-size: 100%;
	}

	.example__wrapper {
		display: flex;
		justify-content: space-between;
		max-width: 1300px;
		margin: 0 auto;
		margin-bottom: 0;
		padding-right: 40px;
		padding-left: 40px;
	}

	.example__inner {
		width: 435px;
		padding-top: 55px;
		margin-bottom: 0;
	}

	.example__title {
		margin-bottom: 147px;
	}

	.example__descr {
		margin-bottom: 68px;
	}

	.example__results-list {
		width: 366px;

		tbody {
		  width: 366px;
		  justify-content: space-between;
		}
	}

	.example__result {
		&--cell {
			width: 162px;
			margin-right: 0;

			.example__result-name {
			background-color: #f2f2f2;
			}
	    }

		&--cost {
			margin-top: 60px;
			padding-right: 37px;
			width: 100%;
			flex-direction: row;
			margin-left: 0;

			.example__result-name,
			.example__result-amount {
				font-size: 20px;
			}

			.example__result-name {
				margin-left: 0;
			}

			.example__result-amount {
				margin-left: auto;
			}
		}
	}

	.example__slider {
	    margin-right: -40px;
	}
}
