.field-checkbox	{
	display: flex;
}

.field-checkbox__input {
	&:checked ~ .field-checkbox__label {
		&::after {
			opacity: 1;
		}
	}

	&:not(:disabled):hover ~ .field-checkbox__label,
    &:not(:disabled):focus ~ .field-checkbox__label {
    	&::before {
            border-color: #cdcdcd;
        }
    }

    &:disabled + .field-checkbox__label {
    	opacity: 0.3;
    }

    &:disabled + .field-checkbox__label::before {
    	border-color: #cdcdcd;
    }
}

.field-checkbox__label {
	position: relative;
	width: 100%;
	min-height: 30px;
	padding-left: 46px;
	font-size: 16px;
	line-height: 30px;
	color: $color-dark-gray;
	transition: opacity 0.3s ease;
	cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    &::before,
    &::after {
    	content: "";
    	position: absolute;
    }

    &::before {
    	top: 50%;
    	left: 0;
    	width: 30px;
    	height: 30px;
    	border: 1px solid rgba(#cdcdcd, 0.5);
		transform: translate3d(0, -50%, 0);
		transition: border-color 0.3s ease;
		will-change: transform;
    }

    &::after {
    	top: 7px;
    	left: 5px;
    	width: 21px;
    	height: 16px;
    	background-image: url("../img/icon-tick.svg");
    	background-repeat: no-repeat;
    	opacity: 0;
    	transition: opacity 0.15s ease;
    }
}

@media (min-width: $tablet-width) {
	.field-checkbox__label {
		min-height: 40;
		padding-left: 58px;
		font-size: 20px;
		line-height: 40px;

		&::before {
			width: 40px;
			height: 40px;
		}

		&::after {
			top: 12px;
			left: 10px;
		}
	}
}