.field-radio {
	display: flex;
}

.field-radio__input {
	&:checked ~ .field-radio__label {
		&::after {
			opacity: 1;
		}
	}

	&:not(:disabled):hover ~ .field-radio__label,
	&:not(:disabled):focus ~ .field-radio__label {
		&::before {
			border-color: #cdcdcd;
		}
	}

	&:disabled + .field-radio__label {
		opacity: 0.3;
	}

	&:disabled + .field-radio__label::before {
		border-color: #cdcdcd;
	}
}

.field-radio__label {
	position: relative;
	width: 100%;
	min-height: 30px;
	padding-left: 46px;
	font-size: 16px;
	line-height: 30px;
	color: $color-dark-gray;
	text-transform: uppercase;
	transition: opacity 0.3s ease;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		border-radius: 50%;
		transform: translate3d(0, -50%, 0);
        will-change: transform;
	}

	&::before {
		left: 0;
		width: 30px;
		height: 30px;
		border: 1px solid rgba(#cdcdcd, 0.5);
        transition: border-color 0.3s ease;
	}

	&::after {
		left: 9px;
		width: 12px;
		height: 12px;
		background-color: $green;
		opacity: 0;
		transition: opacity 0.3s ease
	}
}

@media (min-width: $tablet-width) {
	.field-radio__label {
		min-height: 40px;
		padding-left: 60px;
		font-size: 20px;
		line-height: 40px;

		&::before {
			width: 40px;
			height: 40px;
		}

		&::after {
			left: 11px;
			width: 18px;
			height: 18px;
		}
	}
}